<h1><%= @user.name %>様</h1>
<p>この度は、L-STORE(https://wwww.l-store.jp)をご利用いただき誠に有難うございます。</p>
<p></p>
<p>初回の決済日は<%= @settlement_date %>です</p>
<p></p>
<p>-------------------------------------------------</p>
<p>プラン名 L-STORE標準プラン</p>
<p>金額    ¥00000</p>
<p>-------------------------------------------------</p>
<p></p>
<p>ご不明な点がございましたら、</p>
<p>https://openstore-japan.com/contact</p> 
<p>からサポートサイトをご覧いただくか、</p>
<p>support@openstore-japan.com へお問い合わせください。</p>
<p>または +81 6-6770-9626 までお電話ください。</p>