<p>ご利用ありがとうございます。 <%= @resource.email %>様</p>

<p>パスワード変更のご案内です。</p>
<p>以下のURLから変更することができます。</p>

<p><%= link_to 'パスワードを変更', edit_api_v1_user_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: ENV['PASS_RESET_URL']).html_safe %></p>

<p>これをリクエストしなかった場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
